<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> 7s7z1s2z Control Panel</title>
		<meta name="description" content="Control Panel for 7s7z1s2z by Tauba Auerbach">
		<meta name="author" content="Phillip David Stearns">
		<!-- Scripts -->
		<script src="static/jquery-3.5.1.min.js"></script>
		<script src="static/calibrate.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="static/style.css"/>
	</head>
	<body>
		<div align="center">
			<h1>7s7z1s2z Control Panel</h1><br />
			<form action="/logout">
				<button type="submit" id="logout">logout</button>
			</form>
			<hr />
			<table>
				<tr>
					<th>Current Settings & Status</th>
					<th>Change Settings</th>
				</tr>
				</tr>
				<tr>
					<td>
						<div class="columnLeft">
								<label>Machine State: </label><span id="machineState-status">...</span><br />
								<label>Last Machine State: </label><span id="lastMachineState-status">...</span><br />
								<hr>
								<label>Motor 1 Power: </label><span id="m1Power-status">...</span><br />
								<label>Motor 2 Power: </label><span id="m2Power-status">...</span><br />
								<label>Motor 1 Position: </label><span id="m1Position-status">...</span><br />
								<label>Motor 2 Position: </label><span id="m2Position-status">...</span><br />
								<label>Motor 1 Speed: </label><span id="m1Speed-status">...</span><br />
								<label>Motor 2 Speed: </label><span id="m2Speed-status">...</span><br />
								<label>Motor 1 Flipped: </label><span id="m1Flipped-status">...</span><br />
								<label>Motor 2 Flipped: </label><span id="m2Flipped-status">...</span><br />
								<label>Motor 1 Offset: </label><span id="m1Offset-status">...</span><br />
								<label>Motor 2 Offset: </label><span id="m2Offset-status">...</span><br />
								<hr>
								<!-- <label>Pump Speed: </label><span id="mPumpSpeed-status">...</span><br />
								<hr> -->
								<label>Current Time: </label><span id="tCurrent-status">...</span><br />
								<label>State End Time: </label><span id="tFinal-status">...</span><br />
								<!-- <label>Startup Duration: </label><span id="startupDuration-status">...</span><br /> -->
								<label>Open Duration: </label><span id="openDuration-status">...</span><br />
								<label>Open Hold Duration: </label><span id="openHoldDuration-status">...</span><br />
								<label>Close Duration: </label><span id="closeDuration-status">...</span><br />
								<label>Close Hold Duration: </label><span id="closeHoldDuration-status">...</span><br />
								<label>Target Open: </label><span id="targetOpen-status">...</span><br />
								<label>Target Close: </label><span id="targetClose-status">...</span><br />
								<label>Target: </label><span id="target-status">...</span><br />
								<label>Progress: </label><span id="progress-status">...</span><br />
								<!-- <label>Last Progress: </label><span id="lastProgress-status">...</span><br /> -->
								<hr>
								<label>Sigmoid Function: </label><span id="sigmoidFunction-status">...</span><br />
								<label>Loop Delay: </label><span id="loopDelay-status">...</span><br />
						</div>
					</td>
					<td>
						<div class="columnRight">
							<span class="label">Go To:</span><span> (<code>OPEN</code> or <code>RESUME</code> to start)</span><br />
							<button id="open">OPEN</button>
							<button id="close">CLOSE</button><br />
							<button id="openAndPause">OPEN & HOLD</button>
							<button id="closeAndPause">CLOSE & HOLD</button><br />
							<button id="pause">PAUSE</button>
							<button id="resume">RESUME</button>
							<hr>
							<button id="stop">!! EMERGENCY STOP !!</button>
							<hr>
							<!-- <label>Pump:</label><br/>
							<button id="mPumpOn">ON</button>
							<button id="mPumpOff">OFF</button>
							<span id="mPumpIsOn-status"></span><br />
							<label >Pump Speed:</label><input type="number" id="mPumpSpeed" min="0.0" max="1.0">
							<hr> -->
							<label >Motor 1 Flipped:</label><input type="checkbox" id="m1Flipped"><br />
							<label >Motor 2 Flipped:</label><input type="checkbox" id="m2Flipped"><br />
							<label>Motor 1 Offset: </label><input type="number" id="m1Offset" min="-1250" max="1250" /><button id="setM1Offset" />set</button><br />
							<label>Motor 2 Offset: </label><input type="number" id="m2Offset"  min="-1250" max="1250" /><button id="setM2Offset" />set</button><br />
							<button id="applyOffsets">apply offsets</button><span id="offset-status"></span>
							<hr>
							<!-- <label>Startup Duration: </label><input type="number" id="startupDuration" min="5.0" max="60.0" /><br /> -->
							<label>Open Duration: </label><input type="number" id="openDuration" min="5.0" max="30.0" /><br />
							<label>Open Hold Duration: </label><input type="number" id="openHoldDuration" min="5.0" max="30.0" /><br />
							<label>Close Duration: </label><input type="number" id="closeDuration" min="5.0" max="30.0" /><br />
							<label>Close Hold Duration: </label><input type="number" id="closeHoldDuration" min="5.0" max="30.0" /><br />
							<label>Target Open: </label><input type="number" id="targetOpen" min="0" max="8400" /><br />
							<label>Target Close: </label><input type="number" id="targetClose" min="-500" max="1000" />
							<hr>
							<label>Sigmoid Function:</label>
							<select id="sigmoidFunction" value=2>
								<option value=0>Natural Log</option>
								<option value=1>Arctan</option>
								<option value=2>Sine Squared</option>
							</select><br />
							<label>Power Multiplier: </label><input id="powerScalar" type="number" min="0.5" max="5.0" size=8/><br />
							<label>Power Easing: </label><input id="powerEasing" type="number" min="0.1" max="1.0" size=8 /><br />
							<!-- <label>Power Limit: </label><input id="powerLimit" type="number" min="0" max="480" size=8 /><br /> -->
							<!-- <label>Loop Delay: </label><input type="number" id="loopDelay" min="0.005" max=".025" /> -->
							<hr>
							<p>
								Before making changes to settings using the buttons below, click either <code>OPEN & HOLD</code> or <code>CLOSE & HOLD</code> and wait until "Machine State" = <code>PAUSED</code>.
							</p>
							<p>
								<button id="apply" class="applyButton">Apply Settings</button><span id="apply-status"></span>
							</p>
							<p>
								<button id="saveSettings">Save Applied/Current Settings</button><br />
								<button id="loadSettings">Load Last Saved Settings</button>
							</p>
							<p>
								<button id="loadDefaults">Load Default Settings</button><br />
								<button id="saveDefaults">Write Applied/Current Settings to Default</button>
							</p>
							<hr>
							<button id="reboot">REBOOT</button><br />
							<button id="poweroff">POWER OFF</button>
						</div>
					</td>
				</tr>
			</table>
			<hr />
			Websocket status:
			<br />
			<div id="ws-status">Waiting...</div>
		</div>
	</body>
</html>
