<html>

	<head>
		<title> Valence Control Panel</title>
		<meta charset="utf-8">
		<meta name="description" content="EControl Panel for Valence by Tauba Auerbach">
		<meta name="author" content="Phillip David Stearns">
		<!-- Scripts -->
		<script src="../static/jquery-3.5.1.min.js"></script>
		<script src="../static/ws-client.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../static/styles.css"/>
	</head>

	<body>
		<div align="center">
			<h1>Valence Control Panel</h1>
			<hr />
			<!-- Stats Stuff-->

			<!--
				"sigmoidFunction" : 2,
				"machineState" : 5,
				"lastMachineState" : 0,
				"mPositionOffsets" : [ 0, 0 ],
				"isOpen" : False,
				"isClosed" : False,
				"moveMotors" : True,
				"openDuration" : 15000,
				"openHoldDuration" : 15000,
				"closeDuration" : 12500,
				"closeHoldDuration" : 17500,
				"startupDuration" : 5000,
				"target" : 0,
				"targetOpen" : 2550,
				"targetClosed" : 0,
				"powerScalar" : 2.0,
				"powerEasing" : 1.0,
				"targetWindow" : 3,
				"powerLimit" : 480,
				"powerCutoff" : 25,
				"speedCutoff" : 0.01
			-->
			
			<div class="row" align="left">
				<div class="columnLeft">
					<p>
						<label>Set State:</label>
						<select name="dist">
							<option value="state0">CALIBRATE</option>
							<option value="state1">OPEN</option>
							<option value="state2">OPEN_HOLD</option>
							<option value="state3">CLOSE</option>
							<option value="state4">CLOSE_HOLD</option>
							<option value="state5">STARTUP</option>
						</select><br />
					</p>
					<p>

					</p>
					<p>
						<label>Startup Duration: </label>
						<input type="number" name="startupDuration" value="5000" min="5000" max="50000" /><br />
						<label>Open Duration: </label>
						<input type="number" name="openDuration" value="15000" min="5000" max="50000" /><br />
						<label>Open Hold Duration: </label>
						<input type="number" name="openHoldDuration" value="15000" min="5000" max="50000" /><br />
						<label>Close Duration: </label>
						<input type="number" name="closeDuration" value="12500" min="5000" max="50000" /><br />
						<label>Close Hold Duration: </label>
						<input type="number" name="closeHoldDuration" value="17500" min="5000" max="50000" /><br />
					</p>
					<p>
					<p>
						<label>Sigmoid Function:</label>
						<select name="dist">
							<option value="sigmoid0">Natural Log</option>
							<option value="sigmoid1">Arctan</option>
							<option value="sigmoid2">Sine Squared</option>
						</select><br />
					</p>
						<label>Close Hold Duration: </label><input id="" type="text" /><br />
						<label>Close Hold Duration: </label><input id="" type="text" /><br />
						<label>Close Hold Duration: </label><input id="" type="text" /><br />
						<label>Close Hold Duration: </label><input id="" type="text" /><br />
						<label>Close Hold Duration: </label><input id="" type="text" />
					</p>
					<p>
						<button id="apply" class="applyButton">Apply Settings</button>		
					</p>
				</div>
			</div>

			<!--LED Stuff-->
			<div>
				<button id="green_off" class="button button1">OFF</button>
				<button id="green_on" class="button button1">ON</button>
				<br>
				<button id="blue_off" class="button button2">OFF</button>
				<button id="blue_on" class="button button2">ON</button>
				<br>
				<button id="red_off" class="button button3">OFF</button>
				<button id="red_on" class="button button3">ON</button>
				<br>
				<button id="white_off" class="button button4">OFF</button>
				<button id="white_on" class="button button4">ON</button>
			</div>
			<hr />
			<div>
				<div id="">...waiting for data...</div>
			</div>
			<hr />
			Websocket status:
			<br />
			<div id="ws-status">Waiting...</div>
		</div>
	</body>
</html>
