<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Valence Control Panel</title>
		<meta charset="utf-8">
		<meta name="description" content="Control Panel for Valence by Tauba Auerbach">
		<meta name="author" content="Phillip David Stearns">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="static/style.css"/>
	</head>
	<body>
		<div  align="center">
			<form action="/login" method="post">
				<div align=center>
					<p>
						<h3>
							Login
						</h3>
					</p>
				</div>
				<hr width=300px>
				<p>
					<div>
						<label for="username">username: </label><input type="text" name="username">
					</div>
					<div>
						<label for="password">password: </label><input type="password" name="password">
					</div>
				</p>
				<hr width=300px>
				<div align=center>
					<p>
					<input type="submit" value="Log In">
					</p>	
				</div>
			</form>
		</div>
	</body>
</html>