[Unit]
Description=Valence
After=network.target
Wants=pigpiod.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/valence/server.py
RestartSec=5
Restart=never
TimeoutSec=10

[Install]
WantedBy=multi-user.target