[Unit]
Description=Valence Dev Test App
After=network.target, pigpiod.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/membrane/valence/python/server.py
RestartSec=5
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
